* {
    font-family: "Original Surfer", cursive;
}
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("img/hero.jpg");
    height: 425px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.troispoints {
    font-size: 45px;
}

.fa-money-bill-wave-alt {
    font-size: 80px;
    color: #538980;
}
.fa-couch {
    font-size: 80px;
    color: #538980;
}
.fa-users {
    font-size: 80px;
    color: #538980;
}

.gentar {
    border: 5px solid #303933;
    text-align: justify;
    border-radius: 50px;
    border-bottom: thin;
    border-top: thin;
}
.cool {
    border: 5px solid #303933;
    text-align: justify;
    border-radius: 50px;
    border-bottom: thin;
    border-top: thin;
}
.commu {
    border: 5px solid #303933;
    text-align: justify;
    border-radius: 50px;
    border-bottom: thin;
    border-top: thin;
}

card-img-top {
    width: 500px;
}
